.idea/
.vscode/
*.sublime-*
*.swp
*.swo
*~
.DS_Store
*.log
*.error
docker/nginx/logs/*
!docker/nginx/logs/.gitkeep
/protected/runtime/*
!/protected/runtime/.gitkeep
/assets/*
!/assets/.gitkeep
/uploads/*
!/uploads/.gitkeep
/protected/config/db.php
/protected/config/local.php
/protected/config/main-local.php
/protected/config/params-local.php
.env
!.env.example
/vendor/
composer.lock
/docker/mysql/data/
/docker/nginx/logs/*
!/docker/nginx/logs/.gitkeep
/tmp/
/cache/
/*.tar.gz
/*.zip
/*.sql
.project
.buildpath
.settings/
*.launch
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/